.vs/
bin/
obj/
*.user
/BuildOutPut
appsettings.test.json
appsettings.Development.json
/src/Senparc.AI.Kernel.Tests/App_Data/SenparcTraceLog
*.DS_Store
/Samples/Senparc.AI.Samples.Consoles/Properties/PublishProfiles
/documemts/AI-Knowledge/Transformer/*copy*.html
.idea/
