.vs/
bin/
obj/
*.user
/BuildOutPut
appsettings.test.json
appsettings.Development.json
/src/Senparc.AI.Kernel.Tests/App_Data/SenparcTraceLog
*.DS_Store
/Samples/Senparc.AI.Samples.Consoles/Properties/PublishProfiles
/Samples/Senparc.AI.Samples.Consoles/Senparc.AI.Samples.Consoles.csproj.user
/documemts/AI-Knowledge/Transformer/*copy*.html
.idea
.cursor/*
**/SenparcTraceLog/
Samples/Senparc.AI.Samples.Consoles/TTS-Output-*
Samples/Senparc.AI.Samples.AgentKernelConsoles/Senparc.AI.Image-*.png
Samples/Senparc.AI.Samples.AgentKernelConsoles/TTS-*.mp3
